<div class="question-grid-container">
    <mat-card class="question-card">
        <mat-card-title>Question 1</mat-card-title>
        <br>
        <mat-card-content>placeholder for question text</mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Next Question</button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="answers-grid-container">
    <mat-card class="answers">
        <mat-card-actions>
            <button class="btn-ans" mat-button>Answer A</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="answers">
        <mat-card-actions>
            <button class="btn-ans" mat-button>Answer B</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="answers">
        <mat-card-actions>
            <button class="btn-ans" mat-button>Answer C</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="answers">
        <mat-card-actions>
            <button class="btn-ans" mat-button>Answer D</button>
        </mat-card-actions>
    </mat-card>
</div>