.question-grid-container {
    padding: 30px;
}

.question-card {
    text-align: center;
}

.answers-grid-container {
    padding: 30px;
}

.answers {
    margin-bottom: 20px;
}

.btn-ans {
    width: 100%;
}