<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/quiz" routerLinkActive="active">Start Quiz</a>
      <a mat-list-item href="#">Back to Geocache</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      Welcome in Geochecker Quiz!
      <div class="flex-stretch"></div>
      <mat-icon class="mr-8">brightness_5</mat-icon>
      <mat-slide-toggle (change)="onDarkSwitched($event)"></mat-slide-toggle>
      <mat-icon>bedtime</mat-icon>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <div *ngIf="!hasRoute('quiz')" class="button-container">
      <div class="p">
        <p>Welcome in my Geochecker Quiz App!</p>
        <p>Let's see if you a smart enough to answer all question and find the right coordinates!</p>
        <p>If you ready, just click below button ;)</p>
        <mat-icon>arrow_downward</mat-icon>
        <mat-icon>arrow_downward</mat-icon>
      </div>
      <button mat-raised-button color="primary" routerLink="/quiz" routerLinkActive="active">Start Quiz</button>
      <link href="https://cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css" rel="stylesheet" />
      <ngx-wig  [content]="text1" [placeholder]="'Enter instructions here.'"></ngx-wig>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>